<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1635418921255-6ee53b68464c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80);">
  <div class="container">
    <h1>Bienvenue sur mon <strong style= "color: springgreen;">Portfolio</strong> pour <strong>les plus curieux</strong>!</h1>
    <p>Vous voulez avoir une idée de qui je suis? Cliquez en-dessous....</p>
    <input type="checkbox" id="toggle">
    <label for="toggle">Qui suis-je</label>

    <dialog >
      <p style= "color: black;">
        Salut ! Je m'appelle Marly Developpeuse Junior sur Paris et Lyon fan de chaussettes
        et d'aventure insolites. Vous trouverez ci-dessous mes outils que j'utilise
        au quotidien pour programmer et un début d'une palette de projets. La suite
        reste à venir ! Enfin, si vous voulez en savoir plus contactez-moi !
      </p>
    <label for="toggle">Fermer</label>
    </dialog>
  </div>
</div>

<div class="skill-container">
    <div class="col-7">
      <ul class="skill-ball-unordered">
        <li class="skill-ball ball-1 fade-in">
          <%= image_tag("heroku.png", class: "heroku-pic") %>
        </li>
        <li class="skill-ball ball-2 fade-in">
          <%= image_tag("rails.png", class: "rails-pic") %>
        </li>
        <li class="skill-ball ball-3 fade-in">
          <%= image_tag("css.png", class: "css-pic") %>
        </li>
        <li class="skill-ball ball-4 fade-in">
          <%= image_tag("reactjs.png", class: "react-pic") %>
        </li>
        <li class="skill-ball ball-5 fade-in">
          <%= image_tag("javascript.png", class: "java-pic") %>
        </li>
        <li class="skill-ball ball-6 fade-in">
          <%= image_tag("ruby.png", class: "ruby-pic") %>
        </li>
        <li class="skill-ball ball-7 fade-in">
          <%= image_tag("bootstrap.png", class: "boot-pic") %>
        </li>
        <li class="skill-ball ball-8 fade-in">
          <%= image_tag("postgresql.png", class: "post-pic") %>
        </li>
      </ul>
    </div>
</div>

<div class="projects">
  <h2>Projects</h2>
  <div class="cards">
    <div id="card">
      <img src="https://images.unsplash.com/photo-1561084746-f360502e5abe?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
           alt="creature in the forest">
      <h3>Rent a Creature</h3>
      <p>Web fantasy app to rent a fictive creature or obtain one</p>
      <a class="btn-primary" href="https://rentacreature-dustinstender.herokuapp.com/" target="_blank"
         rel="noopener noreferrer">Look here</a>
    </div>
    <div id="card">
      <img src="https://images.unsplash.com/photo-1587854680352-936b22b91030?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80"
           alt="drugs in rose-background">
      <h3>Drug Dealer</h3>
      <p>Mobile app for who wants to receive medication delivered at their doorstep</p>
      <a class="btn-primary" href="https://www.drug-dealer.one" target="_blank" rel="noopener noreferrer">Look here</a>
    </div>
    <div id="card">
      <img src="https://images.unsplash.com/photo-1591825729269-caeb344f6df2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
           alt="Buddha painting in-front-of sofa">
      <h3>Home Tour</h3>
      <p>Under Construction....</p>
    </div>
  </div>
</div>